@charset "UTF-8";
header a {
  font-size: 1rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}
header a:active {
  font-size: 1.1rem;
  font-weight: 600;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1.75rem;
}
header .navbar-nav {
  --bs-nav-link-color: #1c1c1c;
  --bs-navbar-hover-color: #0D39D6;
}

.nav-bold {
  font-weight: 500;
}

.banner1 h1 {
  font-size: 10rem;
  font-family: "Quicksand";
  letter-spacing: 1.4rem;
}
.banner1 h2 {
  font-size: 3rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}

.banner2 .banner-h3 {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-style: italic;
  line-height: 1.9rem;
}
.banner2 .rectangle-awards {
  margin-top: -50px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.banner2 .awards-content h4 {
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.banner2 .awards-date {
  color: #D11616;
}
.banner2 .awards-heading h3 {
  font-size: 2rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #0D39D6;
}
.banner2 .awards-bottom p, .banner2 .awards-heading p {
  font-size: 1.1rem;
  font-family: "Montserrat";
}

.link-else {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Montserrat";
  text-align: right;
  text-decoration: underline 2.5px solid;
  color: #0D39D6;
}
.link-else:active {
  text-decoration: none;
  color: #1c1c1c;
}

.main-heading {
  font-size: 5rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.main-heading-span {
  color: #0D39D6;
}

.why-heading {
  width: 80%;
  margin-top: 150px;
}

.about, .skills, .students, .teachers {
  width: 80%;
  margin-top: 110px;
}

.why {
  width: 80%;
}
.why .rects {
  text-align: center;
}
.why .rects .why-rectangle {
  background-color: white;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.why .rects .why-rectangle h1 {
  font-size: 4.5rem;
  font-family: "Montserrat";
}
.why .why-describe {
  font-size: 1.3rem;
  font-family: "Montserrat";
  text-align: center;
}
.why .why-describe span {
  color: #0D39D6;
  font-weight: 500;
}

.about p {
  font-size: 1.3rem;
  font-family: "Montserrat";
  margin-top: -10px;
}
.about .about-video {
  position: relative;
}
.about .about-img {
  display: block;
}
.about .about-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills .skills-item {
  padding: 0;
  width: 23px;
  height: 23px;
  border: 1px solid #0D39D6;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.skills p {
  font-size: 1.2rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.skills span {
  color: #0D39D6;
}
.skills .skills-item-close {
  border: none;
  background-color: #0D39D6;
  border-radius: 100%;
}

.btn-skills {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.students {
  height: auto;
}

.gallery a:active {
  color: #0D39D6;
}

.teachers .teacher-item img {
  width: 85%; /* 6 изображений на всю ширину */
  margin: 5px;
}
.teachers .teacher-name {
  font-size: 1.1rem;
  font-family: "Montserrat";
  width: 90%;
  text-align: center;
  line-height: 25px;
}

.navbar-toggler {
  border: none;
}

.review-heading {
  width: 70%;
  margin-top: 110px;
}

.review .carousel-inner {
  width: 95%;
  margin: auto;
}
.review hr {
  color: #0D39D6;
  opacity: 1;
}
.review .item {
  font-family: "Montserrat";
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}
.review .item-name h5 {
  font-size: 1.2rem;
}
.review .item-name p {
  font-size: 1rem;
  color: #9B9B9B;
}
.review .item-foto img {
  width: 20%;
}
.review .describe p {
  font-size: 1rem;
}

.btn {
  font-size: 1.2rem;
  font-family: "Montserrat";
  background-color: #0D39D6;
  color: white;
  --bs-border-radius: 1.7rem;
  --bs-btn-padding-x: 1.75rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-hover-border-color: #1c1c1c;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  background-color: #0D39D6;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-top: 200px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.carousel-control-prev {
  background-color: #d6d6d6;
}

.carousel-small {
  display: none;
}

.custom-card {
  display: flex;
  align-items: center;
  width: 230px;
  border-radius: 10px;
  background-color: none;
  border: 2px solid #1c1c1c;
}

.custom-card img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.studios-when, .vacancies, .contacts, .courses-heading, .studios-heading {
  width: 80%;
}

.courses-heading {
  margin-top: 80px;
}

.courses {
  width: 90%;
}

.nav-pills {
  margin-left: 80px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  --bs-nav-pills-border-radius: 1.375rem;
}
.nav-pills .nav-item {
  cursor: pointer;
}

.nav-pills .nav-link {
  border: 1px solid #1c1c1c;
  color: #1c1c1c;
  background-color: transparent;
}

.nav-pills .nav-link.active {
  border: none;
  background-color: #0D39D6;
  color: white;
}

.card {
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  padding: 0;
}
.card .card-foto img {
  width: 100%;
}
.card .card-for {
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #0D39D6;
}
.card .card-describe h5 {
  font-size: 1.3rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.card .card-date {
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #9B9B9B;
}

.pill-fire {
  background-color: #D11616;
  color: #fff;
  position: absolute;
  top: 180px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 15px;
}

.pill {
  background-color: #fff;
  color: #000;
}

.pill-fire, .pill {
  font-size: 1.1rem;
  font-family: "Montserrat";
  position: absolute;
  top: 170px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.contacts h1, .contacts .main-heading-span {
  margin-top: 80px;
  font-size: 4.5rem;
  font-family: "Montserrat";
}

.contacts-all {
  margin-top: 80px;
}

.contacts-address, .contacts-phone {
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 500;
}
.contacts-address span, .contacts-phone span {
  color: #0D39D6;
}

.contacts-phone {
  text-align: right;
}

.map {
  position: relative;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px;
}

.studios h1 {
  margin-top: 80px;
}
.studios .studios-describe {
  margin-top: 80px;
}
.studios .studios-describe .btn {
  padding: 10px 25px;
}
.studios .pill-studios {
  font-size: 1.1rem;
  font-family: "Montserrat";
  position: absolute;
  margin-top: -220px;
  justify-content: center;
  margin-left: 170px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 1.5rem;
}
.studios .studios-heading {
  font-size: 2.2rem;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.studios .studios-heading span {
  color: #0D39D6;
}

.studios-choice {
  font-family: "Montserrat";
}
.studios-choice h5 {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #0D39D6;
  text-decoration-thickness: 2px;
}

.pill-time {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  background-color: transparent;
  border-radius: 1.375rem;
}

.vacancies-p-heading {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.vacancies span {
  color: #0D39D6;
}

.vacancies-min-heading {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-family: "Montserrat";
}

.blog-inner {
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .banner1 h1 {
    font-size: 8rem;
    font-family: "Quicksand";
  }
  .banner1 h2 {
    font-size: 2.5rem;
    font-family: "Montserrat";
  }
  .navbar-brand {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-nav {
    margin-top: 70px;
  }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
  }
  header a {
    font-size: 0.8rem;
  }
  header a:active {
    font-size: 1rem;
  }
  .item-foto img {
    align-self: center;
  }
  .nav-pills {
    margin-left: 40px;
  }
  .pill-fire, .pill {
    top: 110px;
  }
  .pill-studios {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner1 h1 {
    font-size: 5.5rem;
    letter-spacing: 1.2rem;
  }
  .banner1 h2 {
    font-size: 2rem;
  }
  .navbar-brand {
    position: static;
    transform: none;
  }
  header .navbar-nav {
    --bs-nav-link-color: #0D39D6;
  }
  .awards-bottom a {
    font-size: 1.1rem;
  }
  .why {
    width: 90%;
  }
  .why .why-describe {
    padding-left: 0;
    padding-right: 0;
  }
  .review .item-describe p, .review .item-name p {
    font-size: 0.9rem;
  }
  .review .item-name h5 {
    font-size: 1rem;
  }
  .review .item1, .review .item2, .review .item3 {
    padding-left: 0.2rem;
  }
  .carousel-inner {
    width: 100%;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
  }
  .contacts h1, .contacts .main-heading-span {
    font-size: 3.5rem;
    font-family: "Montserrat";
  }
  .contacts-all {
    margin-top: 50px;
  }
  .contacts-address, .contacts-phone {
    font-size: 1.1rem;
    font-family: "Montserrat";
  }
  .contacts-phone {
    text-align: left;
  }
}
@media (max-width: 376px) {
  .banner1 h1 {
    font-size: 3.3rem;
    letter-spacing: 0.3rem;
  }
  .banner1 h2 {
    font-size: 1.4rem;
  }
  .banner1 img {
    margin-top: 10px;
  }
  .banner1 .banner1-img2 {
    display: none;
  }
  .banner2 {
    width: 100%;
    margin: 0;
  }
  .banner2 .rectangle-awards {
    margin-top: 30px;
    width: 90%;
    padding: 20px;
  }
  .main-heading {
    font-size: 3rem;
  }
  .why-heading {
    width: 90%;
    margin-top: 80px;
  }
  .why {
    width: 90%;
    margin-top: 3rem;
    padding: 0;
  }
  .about {
    margin-top: 3rem;
    width: 90%;
  }
  .about .about-text {
    margin-top: 30px;
  }
  .about a {
    padding-bottom: 15px;
  }
  .link-else {
    font-size: 1.1rem;
  }
  .skills {
    width: 90%;
  }
  .skills p {
    font-size: 1rem;
  }
  .skills .skills-content {
    padding-top: 30px;
    width: 100%;
  }
  .students {
    margin-top: 3rem;
    width: 90%;
  }
  .students .gallery-img2 {
    display: none;
  }
  .students .gallery {
    margin-top: 30px;
  }
  .teachers {
    margin-top: 3rem;
    width: 90%;
  }
  .teachers .teachers-content {
    margin-top: 30px;
  }
  .teachers .teacher-item img {
    width: 50%;
  }
  .item-sm {
    display: none;
  }
  .carousel-inner {
    width: 100%;
  }
  .review {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pill-fire, .pill {
    top: 170px;
  }
  .studios h1 {
    font-size: 2.6rem;
  }
  .studios .btn {
    margin-top: 20px;
  }
  .vacancies-p-heading {
    font-size: 1.1rem;
    text-align: left !important;
  }
  .vacancies-min-heading {
    font-size: 1.4rem;
    text-align: left !important;
  }
  .vacancies {
    width: 95%;
  }
  .vacancies .btn {
    margin-top: 20px;
  }
  .vacancies h1 {
    text-align: left !important;
  }
}/*# sourceMappingURL=main.css.map */